<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data-Binding</title>
  </head>
  <body>
    <header class="header-container">
      <div class="head">
        <div>
          <img id="profile" src="assets/ProfileImage.png" />
        </div>
        <div class="userinfo">
          <h3 id="username">{{username}}</h3>
          <p id="email">{{email}}</p>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="left">
        <div class="inner-left-container">
          <label>Select date of Birth: </label><br><br>
          <input id="dob" type="date" [(ngModel)]="age" /><br><br>
          <button id="calbtn" type="button" (click)="ageCalculator()"> know your
            age</button><br><br>
          <div [ngStyle]="{'color':showAge <18 ? 'red'
            : 'green' }">{{showAge}}
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right-inner">
          <div class="fname">
            <label>First Name</label><br>
            <input name="fname" id="fname-in" type="text">
          </div>
          <div class="lname">
            <label>Last Name</label><br>
            <input name="lname" id="lname-in" type="text">
          </div>
          <div class="username">
            <label>Username</label><br>
            <input name="username" id="username-in" [(ngModel)]="username"
              type="text">
          </div>
          <div class="email">
            <label>Email</label><br>
            <input name="email" id="email-in" [(ngModel)]="email" type="text">
          </div>
        </div><br><br>
        <div class="submit">
          <button id="submit" type="button" (click)="showuser()">Submit</button>
        </div>
      </div>
    </div>
  </body>
</html>