<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <header>
            <h2>This is Header</h2>
        </header>
        <div class="container">
            <div class="sidebar">
                <ul>
                    <li><a routerLink="customer">Customer</a></li><br>
                    <li>Home</li><br>
                    <li>About us</li><br>
                    <li>Contact us</li>
                </ul>
            </div>
            <div class="main">
                <router-outlet></router-outlet>                
            </div>
        </div>        
    </body>
</html>