a {
    float: right;
    font-size: 22px;
}

header {
    border: 2px solid black;
    height: 35px;
}

#back,
#add {
    margin-right: 10px;
}

#edit {
    margin-right: 30px;
}

.headbtn {
    float: right;
    display: flex;
}