#name-in {
    height: 40px;
    width: 90%;
    background-color: #D7D8D4;
    border-radius: 12px;
    font-family: fontawesome;
    font-size: 18px;
    border: 0;
}

.inner-div {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    display: block;
    width: 50%;
}

#btn-style {
    width: 150px;
    height: 40px;
    margin-left: 35%;
    background-color: #12193b;
    border-radius: 12px;
    border: 0;
    font-weight: bolder;
    font-size: 18px;
    color: white;
}