<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div class="container">
            <div>
                <label>First Name</label><br>
                <input type="text" id="first-in">
            </div><br>
            <div>
                <label>Last Name</label><br>
                <input type="text" id="last-in">
            </div><br>
            <div>
                <label>City</label><br>
                <input type="text" id="city-in">
            </div><br>
            <button id="addbtn"><a (click)="add()">Add customer</a></button>
        </div>
    </body>
</html>