<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h2>Customer List</h2><br>
        <table>
            <tr>
                <th>Sr.no</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>City</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Maansa</td>
                <td>Gupta</td>
                <td>Mumbai</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Uddesh</td>
                <td>Yadav</td>
                <td>Nashik</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Girija</td>
                <td>Jahangid</td>
                <td>Pune</td>
            </tr>
        </table><br><br>
    </body>
</html>